.contact .card-group {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
  margin-top: 2em;
}

.contact .card {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 10px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 0.5em;
}

.contact .card.selected {
  transform: scale(1.1);
}

.contact .card:hover {
  transform: scale(1.05);
}

.contact .card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 0.5em;
  padding: 1em;
}

.contact .card .overlay button {
  background-color: #27ae60;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.contact .card .overlay button:hover {
  background-color: #0056b3;
}

.contact form {
  padding: 30px;
}

.contact form div {
  display: flex;
}

.contact textarea {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
}

.contact input, .contact select {
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 10px;
  font-size: 1em;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.contact input[type="file"] {
  padding: 5px;
}

.contact button[type="submit"] {
  background-color: #27ae60;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.contact button[type="submit"]:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 768px) {
  .contact h4 {
    width: 100%;
    margin-bottom: 30px;
  }

  .contact form div {
    flex-direction: column;
  }

  .contact input, .contact select {
    width: 100%;
  }
}
